NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqYWhjaHN5Z2NpdXdkcmNheHpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwODE3ODMsImV4cCI6MjA5MzY1Nzc4M30.Ik_uhl66TqZgsdiBcHov_tkKR-MuTHESR4lJceas050
NEXT_PUBLIC_SUPABASE_URL=https://qjahchsygciuwdrcaxzl.supabase.co